<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- lets inject the above MessageSource into this POJO -->
    <bean id="example" class="com.bow3n.learn.spring.core.event.ListenerTest">
    </bean>
</beans>