<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--<bean id="messageSource"-->
          <!--class="org.springframework.context.support.ResourceBundleMessageSource">-->
        <!--<property name="basenames">-->
            <!--<list>-->
                <!--<value>message/format</value>-->
                <!--<value>message/exceptions</value>-->
                <!--<value>message/windows</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->
    <!-- this MessageSource is being used in custom web application -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="message/exceptions"/>
    </bean>

    <!-- lets inject the above MessageSource into this POJO -->
    <bean id="example" class="com.bow3n.learn.spring.core.message.Example">
        <property name="messages" ref="messageSource"/>
    </bean>
</beans>